<div class="title-line">
<h1>Twilight Emporium</h1>
<h2>Fan created maps and scenarios for Twilight Imperium IV</h2>
</div>
<nav>
  <ul class="nav-links">
    <li><a href="<%=urlRoot%>/">Home</a></li>
    <li><a href="<%=urlRoot%>/maps">Maps</a></li>
    <li><a href="<%=urlRoot%>/editor">Editor</a></li>
    <li><a href="<%=urlRoot%>/yourmaps">Your maps</a></li>
    <li><div class="login">
    <%- include("./loggedin.ejs"); %>
      </div></li>
  </ul>
</nav>
