<!doctype html>
<html>
  <head>
  <%- include('../partials/head'); %>
  </head>
  <body>
  <header><%- include('../partials/header'); %></header>
    <h2><%= map.name %></h2>
    <img src="<%- map.img_src() %>">
  </body>
  <footer>
  <%- include('../partials/footer'); %>
  </footer>
</html>
